vs/AngularCore/DesignTimeBuild/.dtbcache
.vs/AngularCore/v15/.suo
.vs/AngularCore/v15/Server/sqlite3/storage.ide
.vs/AngularCore/v15/Server/sqlite3/storage.ide-shm
.vs/AngularCore/v15/Server/sqlite3/storage.ide-wal
.vs/config/applicationhost.config
AngularCore/bin/Debug/netcoreapp2.1/AngularCore.dll
AngularCore/bin/Debug/netcoreapp2.1/AngularCore.pdb
AngularCore/bin/Debug/netcoreapp2.1/AngularCore.runtimeconfig.dev.json
AngularCore/obj/AngularCore.csproj.nuget.cache
AngularCore/obj/AngularCore.csproj.nuget.g.props
AngularCore/obj/Debug/netcoreapp2.1/AngularCore.assets.cache
AngularCore/obj/Debug/netcoreapp2.1/AngularCore.csproj.CoreCompileInputs.cache
AngularCore/obj/Debug/netcoreapp2.1/AngularCore.csproj.FileListAbsolute.txt
AngularCore/obj/Debug/netcoreapp2.1/AngularCore.csprojAssemblyReference.cache
AngularCore/obj/Debug/netcoreapp2.1/AngularCore.dll
AngularCore/obj/Debug/netcoreapp2.1/AngularCore.pdb
AngularCore/obj/project.assets.json

